.form {
  width: 100%;
  max-width: 385px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form__fieldset {
  max-width: 385px;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.form__label {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 8px;
}

.form__input {
  max-width: 385px;
  height: 60px;
  border-radius: 4px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
}

.form__input::placeholder {
  padding-top: 15px;
  padding-left: 20px;
}

.form__button {
  max-width: 385px;
  height: 60px;
  border-radius: 4px;
  background-color: #2f80ed;
  opacity: 1;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-top: 32px;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  margin-right: 12px;
}

.form__label_checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 120px;
}

.form__checkbox:checked {
  accent-color: #2f80ed;
}
