.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-right: 80px;
  list-style-type: none;
  font-size: 8px;
  justify-content: space-between;
  column-gap: 20px;
}

.nav__link {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}
