.recipes {
  background-color: #0a2850;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding-top: 100px;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  max-width: 580px;
  margin-left: 80px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  max-width: 438px;
  margin-top: 24px;
  margin-left: 80px;
}

.recipes__videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  margin-top: 80px;
  width: 100%;
  margin-bottom: 215px;
}

.recipes__video {
  width: 480px;
}

.recipes__iframe {
  width: 100%;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.recipes__video-title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__video-duration {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
