.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.reservation__title {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  padding-top: 100px;
}

.reservation__form {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 120px;
  padding: 0 20px;
}
